body{
    display:flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin:0;
    padding:0;
}
.wrapper{
    display: flex;
    justify-content: center;
  margin-top:12px ;
}
.img{
    width:325px;
    height: 200px;
    border-radius: 8px;
}
.card{
    width:350px;
    height:auto;
background-color: aliceblue;
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    border:1px solid rgba(0, 0, 0, 0.024);
}
.tag{
    display:flex;
    justify-content: flex-start;
    gap:20px;
    margin-left: 20px;
}
.nature{
    border:1px solid rgba(0, 0, 0, 0.232);
    padding:4px 12px;
    border-radius: 12px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
}
button{
    padding: 14px 20px;
    border-radius: 28px;
    border:none;
    background-color: #007bff32;
    color:#007BFF;
    font-size: 15px;
    font-weight: bold;
}
p{
    color:rgba(0, 0, 0, 0.574);
}
button:hover{
     background-color: #007bff27;
}