body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',sans-serif;
}

.header{
    font-family: "Roboto",sans-serif;
    padding: 20px 0 80px;
    width:auto;
    background-color: #1F2937;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:white;
     
}
ul{
    list-style-type: none;
    display:flex;
    gap:10px;

}
h3{
    font-size: 24px;
    color:#F9FAF8;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container{
   
     flex: 1;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: hsla(0, 0%, 50%, 0.631);
    display:flex;
    flex-direction: row;
 flex:1;
     display: flex;
  align-items: center;
  justify-content: center;
 
}
h2{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}
.header-content{
    display: flex;
  align-items: center;
  gap: 52px;
  max-width: 1100px;
     margin:  auto;
    flex:1;
}
.ctn{
    flex: 1;
  display: flex;
  flex-direction: column;
}
.ctn button {
  width: fit-content;
  background-color: #3882F2;
  color:white;
  border-radius: 7px;
  padding:10px 40px;
  border:none;
  font-weight: bold;
  font-size: 14px;
}
.ctn button:hover{
    background-color: hsla(216, 88%, 58%, 0.839);
}
.content{
     max-width: 900px;
  margin: 30px auto;
  text-align: center;

}
.box{
    display: flex;
gap:10px;
    justify-content:center;
   margin-bottom: 70px;
}
.box1{
    border:3px solid #3882F2;
    height:100px;
    width:100px;
    border-radius: 10px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:150px;
}
.wrapper p {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}
.quote-section {
  background-color: #e5e7eb;
  width: 100%;

}
.quote-container {
  max-width:1500px;
  margin: 0 auto;
  padding: 30px 24px;
  max-width: 1100px;
  padding: 50px 24px;

}
.text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}
.author {
  margin-top: 20px;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
}