body{
    flex-direction: column;
    background-color: lightgrey;
    display:flex;
    align-items:center;
}
#heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

#main{
    border: 5px solid black;
    padding:30px;
    border-radius: 50px;
    background-color: white;
     flex-direction: column;
    display:flex;
    align-items:center;
}
#clock{
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}
#controls button{
   
  
    
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
   margin :5px;
   border:none;
   border-radius: 10px;
   cursor:pointer
  
}
#start{
    background-color: rgb(53, 161, 53);

}
#start:hover{
    background-color: rgb(53, 180, 53) ;
}
#stop{
    background-color: rgb(182, 19, 19);

}
#stop:hover{
    background-color: rgb(200, 19, 19);
 ;
}
#reset{
    background-color: rgb(47, 81, 160);

}
#reset:hover{
    background-color:rgb(87, 81, 160);
}